.blog button{
    background-color: #86D2CE;
}

.blog button:hover{
    background-color: #6fdbd5;
}

.footer-section{
    display:flex;
    flex-direction: column;
}

.blog {
  padding: 60px;
  text-align: center;
  font-family: sans-serif;
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.blog-card img {
  width: 100%;
  border-radius: 10px;
}
.blog-card {
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}