.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#bddfdd;
    padding: 0 8%;
    height: 70vh;


}
.hero-butons{
    display: flex;
    gap: 5px;
}
.hero-content {
    flex: 1;
    text-align: left;
    color: #222;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.hero-subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
}

.hero-btn {
    padding: 12px 24px;
    background-color: #fe8725;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
}

.hero-btn:hover {
    background-color: #ff1c1c;
}
.hero-image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.hero-image {
    width: 80%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
}

.about-btn{
    background-color:#86D2CE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
    padding: 12px 24px;
}
.about-btn:hover{
    background-color: #1cb3ff;
}



