.feeds-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.feeds-container img {
  width: 60px;    
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
h3{
    margin-bottom: 10px;
}
.feeds-container img:hover {
  transform: scale(1.1);
}
input{
    border: none;
    outline:none;
     background-color: rgb(182, 190, 192);
}
input:focus{
    background-color: white;
}

.footer-section ul{
    display: flex;
    flex-direction: column;
    gap:10px


}
.footer button:hover{
    background-color: rgb(38, 222, 228);
}

.footer {
  background: #111;
  color: #eee;
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
}
.footer-section input {
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}
.footer-section .btn {
  margin-top: 10px;
}